<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Spring Security Tutorial</title>
	<meta name="viewport" content="width=device-width"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!--Login fb G+-->
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/webjars/font-awesome/css/font-awesome.min.css"/>

</head>

<body>
	<form th:action="@{/registration}" method="get">
		<button class="btn btn-md btn-warning btn-block" type="Submit">Go To Registration Page</button>
	</form>	
	
	<div class="container">

		<div class="unauthenticated">
			<a href="/login" class="btn"> LOGIN </a>
		</div>
		<div class="authenticated">
			Logged as <span id="user"></span>
			<div>
				<button onclick="logout()" class="btn"> LOGOUT</button>
			</div>
		</div>

		<script>
			$.get("/user",function (data) {
				$("#user").html(data.userAuthentication.details.name);
				$(".authenticated").hide();
				$(".unauthenticated").show();
            });
			var logout = function () {
				$.post("/logout",function () {
					$("#user").html('');
                    $(".authenticated").show();
                    $(".unauthenticated").hide();
                })
            }
		</script>
		<img th:src="@{/images/login.jpg}" class="img-responsive center-block" width="300" height="300" alt="Logo" />
		<form th:action="@{/login}" method="POST" class="form-signin">
			<h3 class="form-signin-heading" th:text="Welcome"></h3>
			<br/>
			 
			<input type="text" id="email" name="email"  th:placeholder="Email"
				class="form-control" /> <br/> 
			<input type="password"  th:placeholder="Password"
				id="password" name="password" class="form-control" /> <br /> 
				
			<div align="center" th:if="${param.error}">
				<p style="font-size: 20; color: #FF1C19;">Email or Password invalid, please verify</p>
			</div>
			<button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit" th:text="Login"></button>
		</form>

		<h1>Login Using</h1>

		<form action="/connect/google" method="POST" style="display: inline">
			<input type="hidden" name="scope" value="profile email"/>
			<button type="submit" class="btn btn-danger">
				Google <span class="fa fa-google-plus"></span>
			</button>
		</form>

		<form action="/connect/facebook" method="POST" style="display: inline">
			<input type="hidden" name="scope" value="public_profile,email"/>
			<button type="submit" class="btn btn-primary">
				Facebook <span class="fa fa-facebook"></span>
			</button>
		</form>

		<form action="/connect/linkedin" method="POST" style="display: inline">
			<input type="hidden" name="scope"
				   value="r_basicprofile,r_emailaddress"/>
			<button type="submit" class="btn btn-primary">
				LinkedIn <span class="fa fa-linkedin"></span>
			</button>
		</form>
	</div>
</body>
</html>