<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap-table.min.css}"/>
    <script  type="text/javascript"  th:src="@{/js/jquery-2.2.4.min.js}"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" th:src="@{/js/bootstrap-table.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/mindmup-editabletable.js}"></script>
    <script type="text/javascript" th:src="@{/js/lodash.min.js}"></script>



</head>
<body>
web admin ==> home
<div id="toolbar">
    <button id="remove" class="btn btn-danger" disabled="true">
        <i class="fa fa-remove"></i> Delete
    </button>

    <button id="editTable" class="btn btn-danger" >
        <i class="fa fa-remove"></i> EDIT
    </button>

    <button id="cancelEdit" class="btn btn-danger" >
        <i class="fa fa-remove"></i> CANCEL EDIT
    </button>
</div>
<!--<table data-toggle="table" data-toolbar="#toolbar"-->
       <!--data-search="true"-->
       <!--data-show-refresh="true"-->
       <!--data-show-toggle="true"-->
       <!--data-show-columns="true"-->
       <!--data-show-export="true"-->
       <!--data-detail-view="true"-->
       <!--data-detail-formatter="detailFormatter"-->
       <!--data-minimum-count-columns="2"-->
       <!--data-show-pagination-switch="true"-->
       <!--data-pagination="true"-->
           <!--data-page-list="[10, 25, 50, 100, ALL]"-->
       <!--data-url="https://localhost:8999/admin/account/findAllBy"-->
       <!--data-side-pagination="server">-->
    <!--<thead>-->
        <!--<tr>-->
            <!--<th data-field="state" data-checkbox="true"></th>-->
            <!--<th data-field="id">ID</th>-->
            <!--<th data-field="email">Email</th>-->
            <!--<th data-field="name">Name</th>-->
        <!--</tr>-->
    <!--</thead>-->
<!--</table>-->

<!--version 1-->
<!--<div class="alert alert-success" id="eventsResult">
    Here is the result of event.
</div>
<table id="eventsTable"
       data-toggle="table"
       data-height="300"
       data-url="https://localhost:8999/admin/account/findAllBy"
       data-pagination="true"
       data-search="true"
       data-show-refresh="true"
       data-show-toggle="true"
       data-show-columns="true"
       data-toolbar="#toolbar">
    <thead>
    <tr>
        <th data-field="state" data-checkbox="true"></th>
        <th data-field="id">Name</th>
        <th data-field="email">Stars</th>
        <th data-field="name">Forks</th>
    </tr>
    </thead>
</table>
<SCRIPT>
    $(function () {
        var $result = $('#eventsResult');

        $('#eventsTable').on('all.bs.table', function (e, name, args) {
            console.log('Event:', name, ', data:', args);
        })
                         .on('click-row.bs.table', function (e, row, $element) {
                             $result.text('Event: click-row.bs.table');
                         })
                         .on('dbl-click-row.bs.table', function (e, row, $element) {
                             $result.text('Event: dbl-click-row.bs.table');
                         })
                         .on('sort.bs.table', function (e, name, order) {
                             $result.text('Event: sort.bs.table');
                         })
                         .on('check.bs.table', function (e, row) {
                             $result.text('Event: check.bs.table');
                         })
                         .on('uncheck.bs.table', function (e, row) {
                             $result.text('Event: uncheck.bs.table');
                         })
                         .on('check-all.bs.table', function (e) {
                             $result.text('Event: check-all.bs.table');
                         })
                         .on('uncheck-all.bs.table', function (e) {
                             $result.text('Event: uncheck-all.bs.table');
                         })
                         .on('load-success.bs.table', function (e, data) {
                             $result.text('Event: load-success.bs.table');
                         })
                         .on('load-error.bs.table', function (e, status) {
                             $result.text('Event: load-error.bs.table');
                         })
                         .on('column-switch.bs.table', function (e, field, checked) {
                             $result.text('Event: column-switch.bs.table');
                         })
                         .on('page-change.bs.table', function (e, number, size) {
                             $result.text('Event: page-change.bs.table');
                         })
                         .on('search.bs.table', function (e, text) {
                             $result.text('Event: search.bs.table');
                         });
    });
</SCRIPT>-->

<!--version 2-->
<table id="table"></table>
<script>
    /*$(function () {
        $('#table').bootstrapTable({
            idField: 'id',
            url: 'https://localhost:8999/admin/account/findAllBy',
            columns: [{
                field: 'name',
                title: 'Name',
                editable: {
                    type: 'text'
                }
            }, {
                field: 'email',
                title: 'Email',
                editable: {
                    type: 'text',
                    mode: 'inline'
                }
            }]
        })
    });*/

    window.actionEvents = {
        'click .like': function (e, value, row, index) {
            alert('You click like icon, row: ' + JSON.stringify(row));
            console.log("value" + JSON.stringify(value));
            console.log("row" + JSON.stringify(row));
            console.log("index" + JSON.stringify(index));
        },
        'click .edit': function (e, value, row, index) {
            alert('You click edit icon, row: ' + JSON.stringify(row));
            console.log("value" + JSON.stringify(value));
            console.log("row" + JSON.stringify(row));
            console.log("index" + JSON.stringify(index));
        },
        'click .remove': function (e, value, row, index) {
            alert('You click remove icon, row: ' + JSON.stringify(row));
            console.log("value" + JSON.stringify(value));
            console.log("row" + JSON.stringify(row));
            console.log("index" + JSON.stringify(index));
        },
        'change ':function (e,value,row,index) {
            console.log("chane" + JSON.stringify(index));
        },
        'mouseenter ':function (e,value,row,index) {
            console.log("blur" + JSON.stringify(index));
        }
    };
    function actionFormatter(value, row, index) {
        return [
            '<a class="like" href="javascript:void(0)" title="Like">',
            '<i class="glyphicon glyphicon-heart"></i>',
            '</a>',
            '<a class="edit ml10" href="javascript:void(0)" title="Edit">',
            '<i class="glyphicon glyphicon-edit"></i>',
            '</a>',
            '<a class="remove ml10" href="javascript:void(0)" title="Remove">',
            '<i class="glyphicon glyphicon-remove"></i>',
            '</a>'
        ].join(' ');
    }
    $(function () {
        $('#table').bootstrapTable({
            idField: 'name',
            pagination: true,
            search: true,
            url: 'https://localhost:8999/admin/account/findAll',
            // data: [{"id":4,"email":"123@gmail.com","name":"Trung"},{"id":5,"email":"3@gmail.com","name":"1"},{"id":6,"email":"4@gmail.com","name":"1"},{"id":7,"email":"5@gmail.com","name":"4"},{"id":8,"email":"trung@gmail.com","name":"trung"}],
            columns: [{
                class: 'name',
                field: 'name',
                title: 'Name'
            }, {
                class: 'email',
                field: 'email',
                title: 'email'
            }, {
                formatter:actionFormatter,
                events:actionEvents
            }],
            onPostBody: function () {
                console.log("onPostBody");
            },
            onClickRow:function (row, element, field) {
                // $('#table').editableTableWidget({ editor: $('')});
                console.log("click row");
            },
            onDblClickRow:function (row, element, field) {
                $('#table').editableTableWidget({editor: $('<textarea/>'),  needEdits: [1]});
                $('#table').editableTableWidget({ editor: $('<input/>'),  needEdits: [0] });
                $('#table').addChangeCallback(function (oldData,newData) {
                    console.log((oldData));
                    console.log((newData));
                    //confirm client
                    if(confirm("Press a button!")){
                        var processData = _.assign(oldData,newData);

                        //send to server
                        // Assign handlers immediately after making the request,
                        // and remember the jqxhr object for this request
                        var jqxhr = $.post( "/admin/account/",processData,null,"json")
                                     .done(function(data) {
                                         alert( "second success" );
                                     })
                                     .fail(function() {
                                         alert( "error" );
                                     })
                                     .always(function() {
                                         alert( "finished" );
                                     });

                        // Perform other work here ...
                        // Set another completion function for the request above
                        jqxhr.always(function() {
                            $('#table').bootstrapTable('updateRow',processData);
                            alert( "second finished" );
                        });
                    }else{
                        $('#table').bootstrapTable('updateRow',oldData);
                    }


                });
                $('#table').addValidateCallback(function () {
                    console.log("addValidateCallback");
                    return true;
                });
                console.log("db click row");
            }
        });
    });
    $('#table td').on('change', function(evt, newValue) {
        console.log("change value ");
        // $.post( "script.php", { value: newValue })
        //  .done(function( data ) {
        //      alert( "Data Loaded: " + data );
        //  });
        // ;
    });

    $("#editTable").on('click',function (evt) {
        $('#table').editableTableWidget({ editor: $('<input/>'),  needEdits: [0,1,3,4] });
        $('#table').addChangeCallback(function (oldData,newData) {
            console.log((oldData));
            console.log((newData));
            console.log(oldData);
            confirm("Press a button!");
            if(confirm("Press a button!")){
                oldData = _.assign(oldData,newData);
            }
            $('#table').bootstrapTable('updateRow',oldData);

        });
        $('#table').addValidateCallback(function () {
            console.log("addValidateCallback");
            return true;
        });

    })
    $('#cancelEdit').on('click',function () {
        // $('#table').bootstrapTable('refresh',{silent: true});
        $('#table').bootstrapTable('resetView');
    });
</script>

</body>
</html>