<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/user :: head"> </head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <!-- Main Header -->
    <header th:replace="/fragments/user :: header"> </header>

    <!-- Left side column. contains the logo and sidebar -->
    <aside th:replace="/fragments/user :: aside_menu"> </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1 th:text="#{genealogy.find.header}">
            </h1>
            <h1><small th:text="#{genealogy.find.des}"></small></h1>
            <ol class="breadcrumb">
                <li><a href="/genealogy"><i class="fa fa-dashboard"></i><span th:text="#{genealogy}"></span></a></li>
                <li class="active" th:text="#{find}"></li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Your Page Content Here -->
            <div class="container">
                <div class="row">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for..."/>
                        <span class="input-group-btn">
                         <button class="btn btn-default" type="button" th:text="#{search}"></button>
                    </span>
                    </div><!-- /input-group -->
                </div><!-- /.row -->
            </div><!-- /.end container-->
            <h1><small th:text="#{genealogy.find.result}"></small></h1>
            <table id="table">
                <thead>
                    <tr>
                        <th data-width="20%" data-sortable="true" data-field="name" th:text="#{genealogy.find.table.name}"></th>
                        <th data-width="80%" data-field="description" th:text="#{genealogy.find.table.description}"></th>
                        <th data-field="status" th:text="#{genealogy.find.table.status}"></th>
                        <th data-width="50px" data-formatter="actionFormatter" data-events="actionEvents" data-field="action" th:text="#{genealogy.find.table.action}"></th>
                    </tr>
                </thead>
            </table>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <footer th:replace="/fragments/user :: footer"/>

    <!-- Control Sidebar -->
    <aside th:replace="/fragments/user :: aside"/>
    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->
<div th:replace="/fragments/user :: js"/>

<script>
    function actionFormatter(value, row, index) {
        console.log("value "  + JSON.stringify(value));
        console.log("row "  + JSON.stringify(row));
        console.log("index "  + JSON.stringify(index));
        return [
            '<button type="button" class="edit btn btn-default"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></button>'
            /*'<a type="button" class="like" href="javascript:void(0)" title="Like">',
            '<i class="glyphicon glyphicon-heart"></i>',
            '</a>',
            '<a type="button" class="edit ml10" href="javascript:void(0)" title="Edit">',
            '<i class="glyphicon glyphicon-edit"></i>',
            '</a>',
            '<a type="button" class="remove ml10" href="javascript:void(0)" title="Remove">',
            '<i class="glyphicon glyphicon-remove"></i>',
            '</a>'*/
        ].join(' ');
    }
    window.actionEvents = {
        'click .like': function (e, value, row, index) {
            alert('You click like icon, row: ' + JSON.stringify(row));
            console.log("value" + JSON.stringify(value));
            console.log("row" + JSON.stringify(row));
            console.log("index" + JSON.stringify(index));
        },
        'click .edit': function (e, value, row, index) {
            alert('You click edit icon, row: ' + JSON.stringify(row));
            console.log("value" + JSON.stringify(value));
            console.log("row" + JSON.stringify(row));
            console.log("index" + JSON.stringify(index));
        },
        'click .remove': function (e, value, row, index) {
            alert('You click remove icon, row: ' + JSON.stringify(row));
            console.log("value" + JSON.stringify(value));
            console.log("row" + JSON.stringify(row));
            console.log("index" + JSON.stringify(index));
        },
        'change ':function (e,value,row,index) {
            console.log("chane" + JSON.stringify(index));
        },
        'mouseenter ':function (e,value,row,index) {
            console.log("blur" + JSON.stringify(index));
        }
    };

    var data = [
        {
            "name": "bootstrap-table",
            "status":"đã đăng ký",
            "description": "An extended Bootstrap table with radio, checkbox, sort, pagination, and other added features. (supports twitter bootstrap v2 and v3) "
        },
        {
            "name": "multiple-select",
            "status":"đã đăng ký",
            "description": "A jQuery plugin to select multiple elements with checkboxes :)"
        },
        {
            "name": "bootstrap-show-password",
            "status":"chưa gia nhập",
            "description": "Show/hide password plugin for twitter bootstrap."
        },
        {
            "name": "blog",
            "status":"đã gia nhâp",
            "description": "my blog"
        },
        {
            "name": "scutech-redmine",
            "stargazers_count": "6",
            "forks_count": "3",
            "description": "Redmine notification tools for chrome extension."
        }
    ];

    $(function () {
        $('#table').bootstrapTable({
            search: true,
            pagination: true,

            data: data
        });
    });
</script>
</body>
</html>
